@import "tailwindcss";

:root {
  --background: #fafaf5;
  --foreground: #e8e4da;
  --header: #2b2b2b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header: var(--header);
}
